figure.fig {
  // > .art {

  // }

  figcaption {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 8px;
    // text-align: center;

    font-size: 14px;
    line-height: 175%;
    opacity: 0.48;
  }
}